<div class="modal fade" id="{{dialogId}}" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-primary">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body {{extraClass}}" ng-bind-html="detailAsHtml">
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" ng-click="cancel()"
                        ng-show="showCancelBtn" type="button">取消
                </button>
                <button class="btn btn-danger" data-dismiss="modal" ng-click="confirm()"
                        type="button">
                    {{confirmBtnText}}
                </button>
            </div>
        </div>
    </div>
</div>
