<form aria-hidden="true" class="modal fade" id="rulesModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-primary">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    编辑灰度规则
                </h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group"
                     ng-show="branch.parentNamespace.isPublic && !branch.parentNamespace.isLinkedNamespace">
                    <label class="control-label col-md-3 text-right">
                        <apollorequiredfield></apollorequiredfield>
                        灰度的AppId</label>
                    <div class="col-md-4">
                        <input class="form-control" ng-change='initSelectIps()'
                               ng-model="branch.editingRuleItem.clientAppId"
                               ng-model-options='{ debounce: 300 }'
                               type="text"
                        >
                    </div>
                </div>
                <div class="form-group"
                     ng-show="branch.parentNamespace.isPublic && !branch.parentNamespace.isLinkedNamespace">
                    <label class="control-label col-md-3 text-right">灰度应用规则</label>
                    <div class="col-md-9">
                        <label class="form-control-static radio-inline">
                            <input name="ApplyToAllInstances" ng-checked="!branch.editingRuleItem.ApplyToAllInstances" ng-click="branch.editingRuleItem.ApplyToAllInstances = false"
                                   type="radio"
                                   value="false">
                            应用到部分实例
                        </label>
                        <label class="form-control-static radio-inline">
                            <input name="ApplyToAllInstances" ng-checked="branch.editingRuleItem.ApplyToAllInstances" ng-click="branch.editingRuleItem.ApplyToAllInstances = true"
                                   type="radio"
                                   value="true">
                            应用到所有的实例
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-show="!branch.editingRuleItem.ApplyToAllInstances">
                    <label class="control-label col-md-3 text-right">
                        <apollorequiredfield></apollorequiredfield>
                        灰度的IP</label>
                    <div class="col-md-9">
                        <div class="form-inline">
                            <div class="form-group">
                                <select class="rules-ip-selector" multiple="multiple">
                                    <option ng-bind="instance.ip"
                                            ng-repeat="instance in selectIps">
                                    </option>
                                </select>
                                <div ng-show="branch.parentNamespace.isPublic && !branch.parentNamespace.isLinkedNamespace">
                                    <small>(实例列表会根据输入的AppId自动过滤)</small>
                                </div>
                                <div style="margin-top: 5px">
                                    <small>没找到你想要的IP？可以<a ng-click="manual =! manual">手动输入IP</a></small>
                                </div>
                            </div>
                        </div>
                        <div class="form-inline" ng-show="manual">
                            <div class="form-group">
                                    <textarea class="form-control" ng-model="toAddIPs" placeholder="输入IP列表，英文逗号隔开，输入完后点击添加按钮"
                                              rows="3"></textarea>
                            </div>
                            <button class="btn-default btn add-rule"
                                    ng-click="batchAddIPs(branch, toAddIPs)">
                                添加
                            </button>
                        </div>
                    </div>
                </div>


                <div class="form-group" ng-show="!branch.editingRuleItem.ApplyToAllInstances">
                    <div class="col-md-offset-1 col-md-10 item-container">
                        <section class="btn-group item-info"
                                 ng-repeat="ip in branch.editingRuleItem.draftIpList">
                            <button class="btn btn-default" ng-bind="ip" type="button"></button>
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    ng-click="removeRule(branch.editingRuleItem, ip)"
                                    type="button">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </section>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="cancelEditItem(branch)">取消</button>
                <button class="btn btn-primary" ng-click="completeEditItem(branch)"
                        ng-disabled="completeEditBtnDisable">完成
                </button>
            </div>
        </div>
    </div>


</form>
