<div class="modal fade" id="mergeAndPublishModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-primary">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">全量发布</h4>
            </div>
            <div class="modal-body">
                全量发布将会把灰度版本的配置合并到主分支，并发布。
                <br>
                <h5>全量发布后,您希望</h5>
                <div class="radio">
                    <label ng-click="toReleaseNamespace.mergeAfterDeleteBranch = 'true'">
                        <input name="deleteBranch" ng-checked="!toReleaseNamespace.mergeAfterDeleteBranch ||
                                           toReleaseNamespace.mergeAfterDeleteBranch == 'true'"
                               type="radio">
                        删除灰度版本
                    </label>
                </div>
                <div class="radio">
                    <label ng-click="toReleaseNamespace.mergeAfterDeleteBranch = 'false'">
                        <input name="deleteBranch" ng-checked="toReleaseNamespace.mergeAfterDeleteBranch == 'false'"
                               type="radio">
                        保留灰度版本
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">取消</button>
                <button class="btn btn-primary" data-dismiss="modal" ng-click="showReleaseModal()"
                        type="button">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
